# Managed by malpanez.security.sshd_hardening
{% if sshd_hardening_trusted_ca_key | length > 0 -%}
TrustedUserCAKeys {{ sshd_hardening_trusted_ca_path }}
{% endif %}

PasswordAuthentication {{ "yes" if sshd_hardening_password_authentication else "no" }}
PermitRootLogin {{ sshd_hardening_permit_root_login }}
PermitEmptyPasswords {{ "yes" if sshd_hardening_permit_empty_passwords else "no" }}
ChallengeResponseAuthentication {{ "yes" if sshd_hardening_challenge_response_authentication else "no" }}
UsePAM {{ "yes" if sshd_hardening_use_pam else "no" }}
X11Forwarding {{ "yes" if sshd_hardening_x11_forwarding else "no" }}
LoginGraceTime {{ sshd_hardening_login_grace_time }}
ClientAliveInterval {{ sshd_hardening_client_alive_interval }}
ClientAliveCountMax {{ sshd_hardening_client_alive_count_max }}
MaxAuthTries {{ sshd_hardening_max_auth_tries }}
MaxSessions {{ sshd_hardening_max_sessions }}
MaxStartups {{ sshd_hardening_max_startups }}
PrintMotd {{ "yes" if sshd_hardening_print_motd else "no" }}
UseDNS {{ "yes" if sshd_hardening_use_dns else "no" }}
Compression {{ "yes" if sshd_hardening_compression else "no" }}
LogLevel {{ sshd_hardening_log_level }}
{% if sshd_hardening_banner %}
Banner {{ sshd_hardening_banner }}
{% endif %}
{% if sshd_hardening_effective_ciphers | length > 0 -%}
Ciphers {{ sshd_hardening_effective_ciphers | join(',') }}
{% endif -%}
{% if sshd_hardening_effective_macs | length > 0 -%}
MACs {{ sshd_hardening_effective_macs | join(',') }}
{% endif -%}
{% if sshd_hardening_effective_kex | length > 0 -%}
KexAlgorithms {{ sshd_hardening_effective_kex | join(',') }}
{% endif -%}
{% if sshd_hardening_effective_hostkeys | length > 0 -%}
HostKeyAlgorithms {{ sshd_hardening_effective_hostkeys | join(',') }}
{% endif -%}
{% if sshd_hardening_allow_users | length > 0 -%}
AllowUsers {{ sshd_hardening_allow_users | join(' ') }}
{% endif -%}
{% if sshd_hardening_allow_groups | length > 0 -%}
AllowGroups {{ sshd_hardening_allow_groups | join(' ') }}
{% endif -%}
{% set mode = security_capabilities_selected_auth_mode | default('legacy') %}
{% set human_mfa = (mode == 'pam_mfa') or (mode == 'sk_keys' and security_capabilities_mfa_for_humans_even_with_sk_keys | default(false)) %}
{% if sshd_hardening_human_groups | length > 0 -%}
Match Group {{ sshd_hardening_human_groups | join(',') }}
  AuthenticationMethods {{ 'publickey,keyboard-interactive' if human_mfa else 'publickey' }}
  PubkeyAuthentication yes
{% endif -%}
{% if sshd_hardening_service_groups | length > 0 -%}
Match Group {{ sshd_hardening_service_groups | join(',') }}
  AuthenticationMethods publickey
  PermitTTY no
  AllowTcpForwarding no
{% endif -%}
{% for block in sshd_hardening_service_match_blocks %}
Match {{ block.match | default('Group ' ~ block.group) }}
{% for opt in block.options -%}
  {{ opt }}
{% endfor -%}
{% endfor -%}
