[defaults]
inventory = inventory
roles_path = roles
collections_paths = .
host_key_checking = True
retry_files_enabled = False
stdout_callback = yaml
timeout = 30

[privilege_escalation]
become = True
become_method = sudo
